header {
  .header-nav {
    .menu-item {
      @apply uppercase tracking-wide;

      &:not(.menu-item-has-children) {
        @apply hover:text-orange focus:text-orange transition-colors;
        a {
          @apply flex flex-col overflow-hidden w-fit;
          &::after {
            @apply content-[''] bg-orange w-full h-px -translate-x-full transition-transform;
          }

          &:hover::after {
            @apply translate-x-0;
          }
        }

        &.current_page_item a {
          @apply text-orange;
          &::after {
            @apply translate-x-0;
          }
        }
      }
    }

    .menu-item-has-children {
      @apply rl:-mx-2 w-max relative rl:bg-white flex flex-col gap-2;
      > a {
        @apply relative z-20 w-fit rl:p-2 rl:px-3 flex gap-2 items-center justify-center;
        &:after {
          @apply max-lg:absolute max-lg:right-0 max-lg:translate-x-6 content-[''] w-3.5 h-2 bg-arrow transition-transform duration-500;
        }
      }

      .sub-menu {
        @apply h-0 rl:absolute text-sm flex flex-col gap-1.5 max-rl:items-center w-full rl:bg-white rl:border rl:border-blue-dark/40 rl:p-2 rl:px-3 rl:pt-9 opacity-0 invisible scale-y-0 origin-top transition-all duration-500;
        li {
          @apply h-0 transition-all;
        }

        .menu-item {
          @apply normal-case;
        }
      }

      &:hover, &.opened {
        > a::after {
          @apply rotate-180;
        }

        .sub-menu {
          @apply h-fit opacity-100 visible scale-y-100;

          li {
            @apply h-auto;
          }
        }
      }

    }
  }

  .header-menu {
    @apply max-rl:-translate-y-full transition-all duration-700;
  }

  .burger-menu .opened-text {
    @apply hidden;
  }

  .toggle:checked ~ .header-container {
    .header-menu {
      @apply translate-y-0;
    }

    .burger {
      .burger-menu {
        .opened-text {
          @apply block;
        }

        .closed-text {
          @apply hidden;
        }
      }

      .lines {
        @apply w-10 items-center;
        transform: translateX(-3px);

        .line-1 {
          transform: rotate(-45deg) translate(3px, 3px);
          width: 66%;
        }

        .line-2 {
          opacity: 0;
        }

        .line-3 {
          transform: rotate(45deg) translate(3px, -3px);
          width: 66%;
        }
      }
    }
  }
}

footer {
  .footer-nav, .footer-rgpd {
    .menu-item:not(.menu-item-has-children) {
      @apply hover:text-orange focus:text-orange transition-colors;
      a {
        @apply flex flex-col overflow-hidden w-fit;
        &::after {
          @apply content-[''] bg-orange w-full h-px -translate-x-full transition-transform;
        }

        &:hover::after {
          @apply translate-x-0;
        }
      }
    }
  }
}

.wysiwyg {
  h2 {
    @apply text-2xl rl:text-3xl font-bold mt-4;
  }

  h3 {
    @apply text-xl rl:text-2xl font-bold mt-2;
  }

  a {
    @apply text-orange;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  ol, ul {
    @apply list-inside marker:text-xl marker:text-blue/80 flex flex-col gap-2;
  }
}

.pagination {
  .page-numbers:not(.next, .prev) {
    @apply h-7 w-7 flex items-center justify-center rounded-full border border-transparent hover:border-orange/40 focus:border-orange/40 hover:text-orange focus:text-orange transition-colors;
  }

  .current.page-numbers:not(.next, .prev) {
    @apply cursor-default h-7 w-7 flex items-center justify-center rounded-full bg-blue/10 border border-blue/40 hover:text-blue focus:text-blue;
  }
}